:root {
  /*Global Colors*/
  --primary-color: #ffffff;
  /*Typography*/
  --main-font-family: "Playfair Display", serif;
  --secondary-font-family: "Tangerine", cursive;
  --main-font-size: 17px;
  --line-height: 1.6;
  --primary-font-color: #222;
  /*Color Theme*/
  --main-color-theme:#003399;
  --secondary-color-theme: #c5d5e2;
  /*padding and margin*/
  --primary-margin: 20px;
}


html, body {
  /*Background Settings*/
  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
}

div {
  /*Website Default*/
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--primary-font-color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
}

div .main {
  margin-top: 35px;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 5px 0 5px 0;
  background: rgba(255, 255, 255);
  border-radius: 16px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  margin: 25px 0 0 0;
}


/*Navbar*/
#navbar {
position: fixed; /* Set the navbar to fixed position */
top: 0px; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
z-index: 9999; /*kep navbar alway on top of content*/
transition: top 0.3s;
}

#nav-active-page {
font-family: var(--secondary-font-family);
font-weight: 700;
text-decoration: underline white;
font-size: 32px;
line-height: 1;
background-color: var(--primary-color);
border-radius: 6px;
color: var(--primary-font-color);
}

.nav-link {
  color: rgba(255, 255, 255, 0.877);
}

.navbar-toggler {
  margin: 6px 0;
}

.bg-dark {
  background-color: #000100c4 !important;
}


li #program-section:hover {
text-decoration: overline underline ;
cursor: pointer;
line-height: 0.9;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  touch-action: manipulation;
  -webkit-touch-callout: none;
}

.decor-img {
  max-width: 70%;

}

a {
  text-decoration: none;
}
/*Images overlay*/
.image-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust height if needed */
  background-color: rgba(255, 255, 255, 0.0); /* Fully transparent */
  z-index: 10; /* Make sure it's above the image */
  pointer-events: auto; /* Allows interaction if needed */
}


/*Home page*/
#container-design {
  background: rgb(255 255 255 / 80%);
  border-radius: 16px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  padding: 25px 15px 15px 15px;
  margin-top: 20px;
}

.c-title {
  font-family: var(--secondary-font-family);
  font-size: 3.5em;
}

.b-name {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 45px;
  font-style: normal;
}

#b-picture {
  max-width: 85%;
  max-height: 85%;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.notice-content {
  margin-top: 15px;
  margin-bottom: 25px;
}

.notice-section {
  padding-bottom: 25px;
}

.sub-title {
  text-decoration: underline;
  font-size: 18px;
  text-align: start;
  padding-top: 0;
}

.sunrise-sunset {
  margin-top: 15px; /* Adjust spacing as necessary */
}

.emphasis-text {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

/*Google Maps Styling*/
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.map-icon {
  max-width: 10%;
  height: auto;
}

.map-gap {
  margin-top: 30px;
}

.sehemu-aya {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 2px;
}

.c-sehemu {
  margin-top: 14px;
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #e7e5e5;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  margin-top: 14px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  position: fixed;
  bottom: 20px;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #06050557;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: var(--main-color-theme);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/*Spinner*/

#loader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999999;
}

.spinner {
  animation: Rotate 2.4s both infinite linear;
}

.path {
  animation: DrawLine 1.6s both infinite alternate linear;
  fill: none;
  stroke: #8d5a0d;
  stroke-width: 50;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes DrawLine {
  0% {
    stroke-dasharray: 0 126;
  }
  100% {
    stroke-dasharray: 126 126;
  }
}

/*toast*/
		.toast-container {
  	top: 55%;
		}

		.toast-container img {
  	width: 250px;
  	height: auto;
		}

    .toast-body {
      background-color: white;
    }
/*read more full events section*/
.hidden-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/*Service*/
/*order of events section*/
.events-content {
  text-align: start;
  padding: 10px 6px 3px 6px;
  font-size: 18px;
  position: relative;
    margin: 10px 0;
    border-bottom: 1.5px solid #ddd;
    border-radius: 4px;
} 


.event-time {
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/*Wake Schedule*/
div .main-wake {
  margin-top: 45px;
  padding: 25px 20px 20px 20px ;
}

/*Program Schedule & Tribute*/

#sub-title-program {
  background: rgba(255, 255, 255);
  border-radius: 16px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  padding: 8px;
  margin-bottom: 15px;
  width: 100%;
}

/*Collapsible hymns*/
.hymn-title {
  font-size: 22px;
}
.hymn-content {
  margin: 15px 0 15px 0;
  text-align: center;
}
.hymn-verse {
  padding: 10px 0px 13px 0;
}
.hymn-v-number {
  font-size: 70px;
  font-family: var(--secondary-font-family);
  color: var(--main-color-theme);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.collapsible {
  background-color: var(--secondary-color-theme);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  border-radius: 0 15px;
  margin-bottom: 14px;
}

.active, .collapsible:hover {
  background-color: var(--main-color-theme);
  color: whitesmoke;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*Eulogy card*/
.aya-topic {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.aya-topic-title {
  padding-bottom: 5px;
  font-style: italic;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600px;
}

#card-style {
  width: 100%;
  max-width: 100%;
  padding-left: 2px;
  padding-right: 50px;
  margin-left: 0;
  margin-right: 0;
}

.over-hide {
  overflow: auto;
}

.section{
  position: relative;
  width: 100%;
  z-index: 1;
  display: block;
}
  
.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.event-flip:checked + label,
.event-flip:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 315px;
  height: 44px;
  border-radius: 50px;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--main-font-size);
  letter-spacing: 1px;
  line-height: 43px;
  padding: 0 30px;
  padding-right: 16px;
  overflow: hidden;
  color: #ffffff;
  word-spacing: 70px;
}

.event-flip:checked + label:before,
.event-flip:not(:checked) + label:before{
  position: absolute;
  content: '';
  z-index: -2;
  background-color: var(--main-color-theme);
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.event-flip:checked + label:after,
.event-flip:not(:checked) + label:after{
  position: absolute;
  content: '';
  z-index: -1;
  background-color: var(--secondary-color-theme);
  width: 168px;
  height: 40px;
  display: block;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  transition: left 300ms linear;
}

.event-flip:checked + label:after {
  left: 180px;
}

.block-diff {
  display: block;
  mix-blend-mode: difference;
}
  
.card-3d-wrap {
  position: relative;
  width: 735px;
  max-width: calc(100% - 20px);
  height: 510px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 5px;
}

.card-3d-wrapper {
  width: 128%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 700ms 400ms ease-out; 
}

.card-front, .card-back {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112,.07);
}

.card-back {
  transform: rotateY(180deg);
}

.event-flip:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
  transition: transform 700ms 400ms ease-out; 
}

.event-flip-wrap{
  position: relative;
  padding-top: 15px;
  width: 100%;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
 
@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
  
.event-flip-wrap p{
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--primary-font-color);
  transform: translate3d(0, 0, 30px) perspective(100px);
}

.card-back p {
  color: #0c1c00;
}

/*Tribute*/
#more {
  display:none;
}

/* Styles for the sticky subheader */
#dynamicSubheader {
  position: sticky;
  top: 0;
  background-color: #f0f0f0; /* Light background for visibility */
  padding: 10px;
  margin-bottom: 10px; /* Space between the header and content */
  z-index: 10; /* Ensure it sits above other elements */
}

/* Style for each section */
section {
  padding-top: 2em; /* Add padding as needed */
  margin-bottom: 2em; /* Adjust margin as needed */
}


/*Appreciation*/
.custom-message-title {
  font-family: "Tangerine", cursive;
  font-weight: 600;
  font-size: 45px;
  font-style: normal;
}  

/*About Us*/
#about-navbar {
  background-color: black;
  color: white;
}


/*adjustments*/
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}
@media screen and (max-width: 768px) and (max-width: 987px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  #navbar {
    text-align: center;
  }

}

@media screen and (max-width: 1024px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  .no-column-large .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 1280px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  #navbar {
    text-align: center;
  }
  .no-column-large .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 1366px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  #navbar {
    text-align: center;
  }

  .no-column-large .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 1440px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  #navbar {
    text-align: center;
  }

  .no-column-large .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 1600px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  #navbar {
    text-align: center;
  }
  
  .no-column-large .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 1920px) {
  body {
    /*Background Settings*/
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP6JweuyyR0xhbcqMe_8aYr4_Ar9JLCW-PTS0qOLhpPnH48h7b82d7p_t6zRKuZsGwMTLNgJ6rip84crosRm5cOyM1uisv8OZt2OFulMbDmN4ixvcPJ5zBtAOM5CTTNMB1TuY9Qw7DCETt-zm5rgFC4=w354-h630-s-no-gm?authuser=0");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  } 

  div, p, td, li, span, table {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 5rem); 
  }
  h2-3 {
    font-size: clamp(1.25rem, 1.5vw + 0.75rem, 2.5rem); 
  }

  #navbar {
    text-align: center;
  }

  .no-column-large .row {
    flex-direction: row;
  }

  .c-title {
    font-size: 2.5rem;
}

}
